body, html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
}

#allHamsters {
    display: flex;
    flex-wrap: wrap;
}

.hamster-item {
    max-width: 400px;
    width: 100%;
    cursor: pointer;
}

.hamster-item img {
    width: 100%;
}

h1 {
    font-size: 1.8rem;
    letter-spacing: 0.05rem;
    font-family: Helvetica;
    font-weight: lighter;
}

.rad {
    font-size: 2.45rem;
    text-transform: uppercase;
    color: hotpink;
    font-family: Impact, sans-serif;
}